@import "vars.style";
@import "bg-bokeh-animation";
@import "gallery";
@import "music-gallery";

// https://paletton.com/#uid=14B0u0kllllaFw0g0qFqFg0w0aF

* {
  border-color: var(--accent-color);

  scrollbar-color: var(--contrast-color) var(--base-color);
  scrollbar-width: thin;
  scroll-snap-type: both mandatory;

  ::-webkit-scrollbar {
    background-color: var(--base-color);
    width: 6px;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--base-color);
  }
  ::-webkit-scrollbar-track-piece {
    background-color: var(--base-color);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--contrast-color);
  }
  ::-webkit-scrollbar-corner {
    background-color: var(--base-color);
  }
  ::-webkit-resizer {
    background-color: var(--base-color);
  }
}

body {
  text-align: justify;
  font-family: Helvetica, Arial, serif;
  font-size: var(--base-font-size);
  background-color: var(--base-color);
  overflow-x: hidden;
  color: var(--contrast-color);
}

article, section, body, h1, h2, h3, h4, h5, h6, p, input, textarea, button, br, ul {
  margin: 0;
  padding: 0;
  border: 0;
  text-transform: lowercase;
}

ul {
  list-style-type: none;
}

br {
  margin-bottom: 5px;
}

body {
  > canvas {
    display: block;
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.background,
.loader-blinds {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.background {
  background: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  z-index: -1;
}

.loader-blinds {
  pointer-events: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: {
    top: calc(50vh + 1px) solid;
    bottom: 50vh solid;
  };

  animation-duration: 0.50s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes slidein {
  25% {
    border: {
      top: calc(50vh + 1px) solid;
      bottom: 50vh solid;
    };
  }

  to {
    border: {
      top: 0 solid;
      bottom: 0 solid;
    };
  }
}

.main-content {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: 60px auto 60px;
}

.main-menu {
  display: flex;
  flex-direction: row;
  width: 100vw;

  .item {
    &:first-child {
      margin-left: auto;
    }

    display: block;
    width: min-content;
    height: 40px;
    padding: 10px 15px;
    color: var(--accent-color);
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    vertical-align: middle;
    cursor: pointer;
    filter: brightness(50%);

    &:hover {
      background-color: var(--accent-color);
      filter: brightness(75%);
    }

    &:hover:not(&-active) {
      color: var(--contrast-color);
    }

    &-active {
      background-color: var(--accent-color);
      color: var(--contrast-color);
      filter: brightness(100%);
    }

    &-short {
      width: 129px;
      padding-left: 5px;
    }

    &-sub {
      width: 66px;
      height: 66px;
      font-size: 3rem;
      line-height: 1.5;
    }
  }

  .tint {
    &-blue:not(.item-active) {
      background-color: transparentize(blue, 0.98);
    }

    &-purple:not(.item-active) {
      background-color: transparentize(rebeccapurple, 0.98);
    }

    &-orange:not(.item-active) {
      background-color: transparentize(orange, 0.98);
    }
  }
}

.document-section {
  max-width: 1440px;
  min-width: 800px;
  width: auto;
  margin: 0 auto;
  overflow: auto;
}

h1 {
  font-size: 4rem;
  padding: 20px 30px 10px;
  text-align: left;
}

h2 {
  font-size: 2rem;
  padding: 20px 30px 10px
}

h3 {
  font-size: 1.8rem;
  padding: 20px 30px 10px;
}

ul,
p,
img {
  font-size: 1.5rem;
  padding: 5px 30px;
}

@mixin arrow-link {
  a {
    &:before,
    &:after {
      font-size: 1.5rem;
      transition: padding-left 0.1s, padding-right 0.1s;
    }

    &:before {
      content: "»";
      padding-right: 5px;
    }

    &:after {
      content: "«";
      padding-left: 5px;
    }

    &:hover {
      &:before {
        padding-right: 2px;
        padding-left: 3px;
      }

      &:after {
        padding-left: 2px;
        padding-right: 3px;
      }
    }
  }
}

ul {
  li {
    line-height: 1.2;
  }

  @include arrow-link()
}

p {
  &:first-child {
    padding-top: 120px;
  }

  &:not(:first-child) {
    padding: 5px 30px;
  }

  &:last-child {
    padding-bottom: 20px;
  }

  @include arrow-link()
}

a {
  color: var(--contrast-color);
  text-decoration: none;
  cursor: pointer;
}

.contact-form {

  form {
    padding: 30px;
  }

  > textarea,
  > input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }

  > input,
  > textarea,
  > input,
  > button {
    display: block;
    width: 600px;
    height: 60px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    background-color: var(--form-background-idle);
    color: var(--form-text-color-idle);

    &:hover {
      background-color: var(--form-background-hover);
      color: var(--form-text-color-hover);
    }

    &:focus {
      background-color: var(--form-background-focus);
      color: var(--form-text-color-focus);
    }
  }

  > input,
  > textarea {
    width: 580px;
    padding: 0 10px;
  }

  > textarea {
    height: 180px;
    padding: {
      top: 10px;
      bottom: 10px;
    };
  }

  > button {
    cursor: pointer;
  }

  .form-message {
    display: none
  }
}

random-text {
  font-family: monospace;
}

console-commander {
  $height: 60px;

  display: block;
  width: 100%;
  position: relative;
  height: $height;

  > div {
    position: absolute;
    top: 54%;
    left: 20px;
    width: 40px;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    transform: translate(-50%, -50%);
  }

  > .console-input {
    display: block;
    padding-left: 40px;
    position: relative;
    font-size: 2rem;
    outline: 0 solid transparent;
    width: 100%;
    height: $height;
    overflow: hidden;
    white-space: nowrap;
    background: none;
    color: var(--form-text-color-idle);

    &:hover {
      background-color: var(--form-background-hover);
      color: var(--form-text-color-hover);
    }

    &:focus {
      background-color: var(--form-background-focus);
      color: var(--form-text-color-focus);
    }

    &::placeholder {
      color: var(--form-text-color-idle);
    }

    &::before {
      content: ">";
      position: absolute;
      top: 11px;
      left: 8px;
    }
  }
}